<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Splash configuration</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>
<body>
    <h1>Slash configuration</h1>
    
    <form>
        <div>
            <label for="name">Nom : </label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="plant">Plante : </label>
            <input type="text" name="plant" id="plant">
        </div>
        <div>
            <label for="dimension">Taille : </label>
            <input type="text" name="dimension" id="dimension">
        </div>
        <button type="button" onclick="addParcel()">Ajouter la parcelle</button>
    </form>

    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>